@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ay3hwr');
  src:  url('fonts/icomoon.eot?ay3hwr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ay3hwr') format('truetype'),
    url('fonts/icomoon.woff?ay3hwr') format('woff'),
    url('fonts/icomoon.svg?ay3hwr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-network_locked:before {
  content: "\e900";
}
.icon-network_wifi:before {
  content: "\e901";
}
.icon-cloud_upload:before {
  content: "\e902";
  section.e2e-one p {
    width: 100% !important;
}

section.e2e-one h1 {
    font-size: 28px !important;
}
}
.icon-backup:before {
  content: "\e902";
}
.icon-film:before {
  content: "\e913";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-drive:before {
  content: "\e963";
}
.icon-database:before {
  content: "\e964";
}
.icon-cog:before {
  content: "\e994";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-earth:before {
  content: "\e9ca";
}
